.App {
  text-align: center;
}
.Header {
  display: flex;
  justify-content: center;
}

.Main-Board {
  display: flex;
  flex-direction: column;
}
.Rules {
  display: flex;
  flex-direction: column;
  text-align: center;
}
